footer {
    background-color: #ececec;
    padding: 0px 89px 0px 111px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid white;
    outline: 1px solid #aaaaaa;
}

footer>ul {
    padding: 0;
}

footer>ul>li {
    font-size: 15px;
    line-height: 2;
    text-align: left;
    color: #666;
}

footer>.about {
    flex-shrink: 0;
    flex-grow: 1;
    min-width: max-content;
    border-right: 1px solid #f9f9f9;
    padding-right: 30px;
}

footer>.offers {
    flex: 1 1 128px;
    min-width: max-content;
    padding-left: 30px;
    padding-right: 82px;
    border-left: 1px solid #9f9f9f;
}

footer>.map {
    padding-right: 20px;
    border-right: 1px solid #f9f9f9;
}

footer>.contacts {
    padding-left: 30px;
    border-left: 1px solid #9f9f9f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 432px;
}

footer>.contacts>div>p {
    margin: 0;
    margin-bottom: 14px;
}

footer>.contacts .telephone {
    font-size: 29.5px;
}

footer>.contacts .text {
    font-size: 15px;
    color: #666;
}

footer>.contacts .text>mark {
    color: #7db0b2;
    background: none;
}

footer>.contacts>.search {
    width: 100%;
}

footer>.contacts>.search>input {
    width: 100%;
    height: 26px;
}

footer>.contacts>.search>.search__icon {
    position: absolute;
    margin-left: -20px;
    margin-top: 5px;
}

footer>.info {
    width: 100%;
    text-align: right;
    font-size: 13px;
    color: #666;
}

footer>.info a {
    color: #7db0b1;
    text-decoration: none;
}

@media screen and (max-width:1390px) {
    footer>.about {
        flex-shrink: 1;
        padding-right: 1%;
    }
    footer>.offers {
        flex: 1 1 128px;
        padding-left: 1%;
        padding-right: 1%;
    }
    footer>.map {
        padding-right: 1%;
    }
    footer>.contacts {
        padding-left: 1%;
        flex: 1 0 432px;
    }
}

@media screen and (max-width: 1260px) {
    footer>.about,
    footer>.offers,
    footer>.map,
    footer>.contacts {
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
        border: none;
    }
    footer>.about {
        flex: 0 0 45%;
        width: 100%;
        border-right: 1px solid #f9f9f9;
    }
    footer>.offers {
        flex: 0 0 45%;
        padding-left: 15px;
        border-left: 1px solid #9f9f9f;
    }
    footer>.map {
        flex: 1 0 100%;
        min-width: 1px;
    }
    footer>.contacts {
        flex: 1 1 432px;
    }
}

@media screen and (max-width:700px) {
    footer>.about,
    footer>.offers {
        flex: 1 1 100%;
        border: none;
        padding: 0;
    }
}