main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 89px 0px 111px;
}

main>.main__content>.main__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main>.main__content>.main__header>.slider {
    display: flex;
    height: 340px;
    width: 660px;
    background: url('../image/main/slider/распродажа.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    margin-right: 15px;
    margin-bottom: 15px;
}

#slider__next {
    display: flex;
    position: absolute;
    height: 340px;
    width: 660px;
    align-items: center;
}

#slider__next-image {
    position: relative;
    object-position: left top;
    object-fit: none;
    width: 0px;
    max-width: 660px;
    height: 340px;
}

main>.main__content>.main__header>.slider>.slider__control {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 35px;
    background-color: #808080;
    align-self: center;
    opacity: 0.5;
    color: rgba(255, 255, 255);
}

main>.main__content>.main__header>.slider>.slider__control p {
    margin-top: -5px;
}

main>.main__content>.main__header>.slider>.slider__control.slider__prev p {
    margin-left: -5px;
}

main>.main__content>.main__header>.slider>.slider__control.slider__next p {
    margin-right: -5px;
}

main>.main__content>.main__header>.slider>.slider__choose {
    flex: 1 1 1px;
    position: relative;
    z-index: 1;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

main>.main__content {
    flex: 1 1 885px;
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
}

main>.main__content>.main__header {
    flex: 1 0 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

main>.main__content>.main__header>.benefits {
    flex: 1 0 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -15px;
    height: max-content;
}

main>.main__content>.main__header>.benefits>.benefits__item {
    flex: 1 0 210px;
    margin-right: 15px;
    height: 104px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #eee;
    font-size: 15px;
    text-align: left;
    color: #666;
}

@media screen and (min-width:1400px) {
    main>.main__content>.main__header>.benefits>.benefits__item {
        min-width: 100%;
    }
}

@media screen and (max-width:880px) {
    main>.main__content>.main__header>.benefits {
        margin: 0;
    }
    main>.main__content>.main__header>.benefits>.benefits__item {
        flex: 1 0 100%;
    }
}

main>.main__content>.main__header>.benefits>.benefits__item:last-child {
    margin-bottom: 15px;
}

main>.main__content>.main__header>.benefits>.benefits__item>.icon {
    margin-left: 22px;
    margin-right: 14px;
}

main>.main__content>.about {
    margin-top: 15px;
    display: flex;
    border: 1px solid #eee;
    height: max-content;
}

main>.main__content>.about>.title {
    flex: 0 0 148px;
    font-size: 18px;
    color: #666;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    outline: 1px solid #eeeeee;
}

main>.main__content>.about>.text>p {
    margin: 0;
    padding: 13px 30px 3px 14px;
    font-size: 15px;
    color: #666;
}

main>.main__content>.about>.text>a {
    font-size: 15px;
    float: right;
    padding-right: 16px;
    padding-bottom: 14px;
    text-align: right;
    color: #69a4a6;
}

main>.main__content>.catalog {
    margin-top: 30px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-items: center;
}

main>.main__content>.catalog>.catalog__item {
    width: 210px;
    height: 250px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}

main>.main__content>.catalog>.catalog__item>.icon {
    object-position: right top;
    object-fit: none;
    width: 100%;
    height: 200px;
}

main>.main__content>.catalog>.catalog__item>.name {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main>.main__content>.catalog>.catalog__item>.name>p {
    margin: 0;
    text-align: center;
    color: #666;
}

@media screen and (max-width:1200px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
    main>.main__content {
        min-width: 0px;
        flex: 0 1 100%;
    }
    main>.main__content>.main__header {
        flex: 1 1 1px;
        max-width: 100%;
    }
    main>.main__content>.main__header>.slider {
        display: flex;
        width: max-content;
        flex: 1 1 100%;
        min-width: 1px;
        height: max-content;
        justify-content: center;
    }
    #slider__next {
        flex: 0 0 100%;
        min-width: 1px;
        height: max-content;
        position: relative;
        justify-content: center;
        background-color: white;
    }
    #slider__next-image {
        flex: 0 0 100%;
        max-width: 1000px;
        object-fit: contain;
        height: max-content;
    }
    main>.main__content>.main__header>.slider>.slider__control {
        display: none;
    }
    main>.main__content>.main__header>.slider>.slider__choose {
        display: none;
    }
    main>.main__content>.about {
        flex-wrap: wrap;
    }
    main>.main__content>.about>.title {
        flex: 1 1 1px;
        padding: 30px;
    }
}