.partners {
    border-top: 1px solid #c7c7c7;
    padding-top: 30px;
    margin: 0 89px 30px 111px;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    flex-wrap: wrap;
    max-height: 76px;
}

@media screen and (max-width: 1260px) {
    .partners>img {
        display: none;
    }
    .partners>img:first-child {
        display: inline-flex;
        margin: 0 auto;
    }
}